<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">cantidad</th>
                    <th scope="col">precio total</th>
                    <th scope="col">eliminar</th>
                    <th scope="col">precio final</th>
                </tr>
            </thead>
            <tbody>
                {{#each carrito}}
                <tr>
                    <td>{{nombre_producto}}</td>
                    <td>{{cantidad}}</td>
                    <td>{{precio}}</td>
                    <td><a href="/carrito/delete"><i class="fas fa-trash-alt" style="color: red"></i></a></td>
                    <td></td>
                </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="font-weight: bold;">{{precioFinal}}</td>
                </tr>
            </tbody>
            <button class="btn btn-primary">Confirmar compra</button>
        </table>
    </div>
</div>