<div class="container">
    <div class="row">
        {{#each productos}}
        <div class="card" style="width: 18rem; margin-right: 5rem;">
            <img src="images/{{uid}}" class="card-img-top" alt="no se encontro la imagen">
            <div class="card-body">
                <h5 class="card-title">{{nombre}}</h5>
                <p class="card-text">{{descripcion}}</p>
                <a href="/productos/single/{{id}}" class="btn btn-primary">Ver mas</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>