<div class="container">
    <h1>Agregar User:</h1>
    <div class="row">
        <div class="col-8">
            <form method="POST" action="/agregar/new">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" name="nombre" placeholder="nombre">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="form-control" name="apellido" placeholder="apellido">
                    <label for="mail">Mail:</label>
                    <input type="mail" class="form-control" name="mail" placeholder="mail">
                    <label for="user">Username:</label>
                    <input type="text" class="form-control" name="user" placeholder="username">
                    <label for="pass">Password:</label>
                    <input type="password" class="form-control" name="pass" placeholder="password">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>