<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <th>ID</th>
                <th>Nombre</th>
            </thead>
            <tbody>
                {{#each productos}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td><a href="/productos/single/{{id}}">Ver Mas</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>